Package: asciidoc-doc
Source: asciidoc
Version: 8.6.10-3
Architecture: all
Maintainer: Joseph Herlant <aerostitch@debian.org>
Installed-Size: 1091
Depends: asciidoc-common (= 8.6.10-3)
Breaks: asciidoc (<< 8.6.9-4)
Replaces: asciidoc (<< 8.6.9-4)
Section: doc
Priority: optional
Multi-Arch: foreign
Homepage: http://www.asciidoc.org
Description: Examples and documentation for asciidoc
 AsciiDoc is a text document format for writing articles, books, manuals and
 UNIX man pages. AsciiDoc files can be translated to HTML (with or without
 stylesheets), DocBook (articles, books and refentry documents) and LinuxDoc
 using the asciidoc command. AsciiDoc can also be used to build and maintain
 websites.
 .
 You write an AsciiDoc document the same way you would write a
 normal text document, there are no markup tags or weird format notations.
 AsciiDoc files are designed to be viewed, edited and printed directly or
 translated to other presentation formats
 .
 This package provides examples and documentation for asciidoc.
