Package: asciidoc-fop
Source: asciidoc
Version: 8.6.10-3
Architecture: all
Maintainer: Joseph Herlant <aerostitch@debian.org>
Installed-Size: 63
Depends: asciidoc-base, docbook-utils, fop
Suggests: asciidoc-doc, epubcheck
Section: text
Priority: optional
Multi-Arch: foreign
Homepage: http://www.asciidoc.org
Description: Asciidoc package including fop dependencies
 AsciiDoc is a text document format for writing articles, books, manuals and
 UNIX man pages. AsciiDoc files can be translated to HTML (with or without
 stylesheets), DocBook (articles, books and refentry documents) and LinuxDoc
 using the asciidoc command. AsciiDoc can also be used to build and maintain
 websites.
 .
 You write an AsciiDoc document the same way you would write a
 normal text document, there are no markup tags or weird format notations.
 AsciiDoc files are designed to be viewed, edited and printed directly or
 translated to other presentation formats
 .
 This metapackage helps you to get all the required dependencies to build pdf
 files using fop.
